@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --gold: 215 184 120;
}

.vote-bg {
  background: #000;
}

.text-gold {
  color: rgb(var(--gold));
}

.bg-gold-card {
  background: rgba(198, 170, 108, 0.95);
}

.bg-gold-inner {
  background: rgba(215, 190, 130, 0.35);
}

.bg-light-card {
  background: rgba(215, 190, 130, 0.35);
}

.bg-dark-card {
  background: rgba(70, 55, 35, 0.95);
}
